.navbar-brand {
    font-weight: bold;
    padding: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: whitesmoke !important;
    background-color: #034E7B;
}

.nav-item {
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

html {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.zoom {
    transition: transform .2s;
    /*transition-duration: 1s;*/
    width: auto;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2);
}

.right_posit {
    padding-left: 50px;
    float: right;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#tableauPlaceholder::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none;
}

.tableauPlaceholder div {
    display: block;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.sublegend-color {
    width: 20px;
    border: 1px solid #666666;
    display: inline-block;
    opacity: 1;
}

.sublegend-item {
    padding-top: 0.2em;
}

.sublegend {
    list-style: none;
    padding-inline-start: 24px;
    margin-top: 0px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.tableauPlaceholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}

/* Media Queries */

@media(max-width: 992px) {
    .navbar {
        background-color: #034E7B !important;
    }
    .navbar-brand {
        padding: inherit;
        margin-left: 20px !important;
        font-size: xx-large;
    }
}