
.col-md-12 {
    /* background-color: #127cc3; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    color: blac;
    }
    
    .well { 
        background-color: #127cc3;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder; 
        color: black;
    } 

    body {
      padding: 0;
      margin: 0;
    }
    
    #map,
    body,
    html {
      height: 100%;
    }
    
    h1 {
      text-align: center;
    }

    /* li, a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: black;
      text-decoration: none;
      justify-content: flex-end;
    }

    .nav_links {
      list-style: none;
    }
    
    .nav_links li {
      display: inline-block;
      padding: 0px 20px;
    }

    .nav_links li a {
      transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
      color: #0088a9; */
    }
  